.features {
  text-align: center;
  padding: 5em 0 2em;

  ._title {
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 0;
  }

  ._features_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    ._feature {
      width: 400px;
      margin: 25px;
      padding: 40px;
      background-color: rgba(239,236,80, 0.7);
      border: 1px solid var(--bg-color-feature);
      @media screen and (max-width: 599px) {
        padding: 25px;
      }

      ._title {
        font-size: 2em;
        margin-top: 32px;
        @media screen and (max-width: 599px) {
          font-size: 18px;
        }
      }

      ._details {
        line-height: 36px;
        @media screen and (max-width: 599px) {
          font-size: 15px;
          line-height: 24px;
          text-align: left;
        }
      }
    }
  }
}
